<ion-header>
  <ion-navbar>
    <ion-title>New Route</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>

    <ion-item>
      <ion-input [(ngModel)]='routeName' type="text" placeholder="Route name"></ion-input>
    </ion-item>

  </ion-list>

  <button *ngIf='!tracking' (click)='startTracking()' ion-button block color="secondary">Start Tracking</button>
  <button *ngIf='tracking' (click)='stopTracking()' ion-button block color="danger">Stop Tracking</button>

</ion-content>
